<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>gz-ohaqyrf@grkgzngr.bet</string>
	<key>contactName</key>
	<string>Michael Sheets</string>
	<key>description</key>
	<string>A colorful, friendly theme; originally by &lt;a href="http://www.monokai.nl/" title="Monokai"&gt;Wimer Hazenberg&lt;/a&gt;.</string>
	<key>name</key>
	<string>Monokai</string>
	<key>uuid</key>
	<string>F019CDBF-4AFC-4CD0-8EFF-A78FAD2FCB5E</string>
</dict>
</plist>
